/*
File: Accuweb Layout CSS
Author: Mark Cheng (lujiang.cheng@gmail.com)
 */


/* Added By Yi */

.drop-down-list {
 font-size: 24px;
}

.head-menu {
 font-size: 24px;
}



/* Body
--------------------------------------------------------------------------------------------------------------- */

body {
    background-color: #f9f9f9;
    font-family: arial, Helvetica, Tahoma, SimSun, 'Hiragino Sans GB', sans-serif;
}

body>.container {
    background-color: #ffffff;
    padding: 0px !important;
}

body .text-indent {
    text-indent: 30px;
}

body .text-line-height {
    line-height: 1.8;
}

body .text-right-align {
    text-align: right;
}


/* Header - the default view is optimised for extra small screens like iphone5
--------------------------------------------------------------------------------------------------------------- */

header > div:first-child {
    margin: 5px 2px;
}

header .logo {
    margin: 10px 15px;
    float: left;
}

header .logo a:hover {
    text-decoration: none;
}

header img {
    width: 33px;
    height: 36px;
    float: left;
    display: none;
}

header .logo h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #145986;
    float: left;
    margin-top: 0px;
    -webkit-box-reflect: below -5px -webkit-linear-gradient(transparent, transparent 30%, rgba(255, 255, 255, .2));
}

header .form-inline {
    float: right !important;
}

header .btn-group {
    top: 15px !important;
    right: 10px !important;
    margin-top: -10px;
}

header .btn-group span {
    color: #145986;
}

header .dropdown-menu {
    width: 133px;
}

header .input-group {
    display: none !important;
    width: 320px !important;
    top: 15px !important;
    right: 0px !important;
}

header .input-group input::-webkit-input-placeholder {
    color: #ccc;
}

header .input-group input::-moz-placeholder {
    opacity: 0.5;
}

header .input-group input:-ms-input-placeholder {
    color: #ccc;
    transition: opacity 250ms ease-in-out;
}

@media (min-width: 350px) {
    /* show logo image*/
    header img {
        display: inline !important;
    }
    header .logo h1 {
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    /* show search box*/
    header .logo h1 {
        font-size: 28px;
    }
    header img {
        width: 46px;
        height: 50px;
    }
    header .btn-group {
        margin-top: 0px !important;
    }
    header .input-group {
        display: inline-table !important;
    }
}


/* Navigation 
--------------------------------------------------------------------------------------------------------------- */

nav {
    background-color: #145986;
    padding: 0px;
    color: #ffffff;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 10px 0px;
}

nav ul li a,
nav ul li a:link,
nav ul li a:focus,
nav ul li a:active,
nav ul li a:visited {
    display: inline-block;
    padding: 3px;
    color: #ffffff;
}


/* Navigation - extra small screen (default view)
--------------------------------------------------------------------------------------------------------------- */

nav > ul {
    display: none;
    margin-bottom: 0px;
}

nav select {
    background: #145986 url("/images/navy_dot.png") !important;
    color: #ffffff !important;
}

nav select.form-control {
    border-radius: 0px !important;
}

nav select option {
    padding: 4px;
}


/* Navigation - small and medium screen
--------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1199px) {
    nav select {
        display: none !important;
    }
    nav > ul {
        display: block;
        position: relative;
    }
    nav > ul > li {
        display: block;
    }
    nav > ul > li:not(:first-child):not(:last-child) {
        display: none;
        border-top: 1px solid #f0f0f0;
    }
    nav > ul > li > ul {
        display: none;
    }
    nav > ul > li > ul > li:not(:first-child) {
        border-top: 1px solid #f0f0f0;
    }
    nav > ul > li.menu {
        position: absolute;
        right: 15px;
        top: 3px;
        cursor: pointer;
    }
    nav > ul > li:hover > a,
    nav ul ul li a:hover {
        text-decoration: none;
    }
    nav span.glyphicon {
        padding: 5px 5px 5px 0px;
    }
}


/* Navigation - large screen
--------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1200px) {
    nav select {
        display: none !important;
    }
    nav > ul {
        /* parent ul tag style */
        display: block;
        position: relative;
        padding-left: 36px;
    }
    nav > ul > li.menu,
    nav span.glyphicon {
        /* parent li tag style */
        display: none !important;
    }
    nav > ul > li {
        position: relative;
        display: inline-block !important;
    }
    nav > ul > li:not(:first-child)::before {
        content: '|';
        margin: 0px 25px;
    }
    nav > ul > li.drop-down-list::after {
        content: "";
        display: inline-block;
        position: relative;
        margin: 0 5px;
        top: -2px;
        border: 5px solid transparent;
        border-bottom: 0px;
        border-top-color: #ffffff;
        -moz-transition: border-top 200ms ease-in, border-bottom 200ms ease-in;
        -webkit-transition: border-top 200ms ease-in, border-bottom 200ms ease-in;
        transition: border-top 200ms ease-in, border-bottom 200ms ease-in;
    }
    nav > ul > li.drop-down-list:hover::after {
        content: "";
        display: inline-block;
        position: relative;
        margin: 0 5px;
        top: -2px;
        border: 5px solid transparent;
        border-top: 0px;
        border-bottom-color: #ffe400;
    }
    nav > ul > li > a {
        /* parent a tag style */
        color: #ffffff !important;
    }
    nav > ul > li:hover > a {
        color: #fff073 !important;
        text-decoration: none;
    }
    nav ul ul {
        /* child ul tag style */
        display: none !important;
        background: rgba(249, 249, 249, 0.95);
        padding: 0px;
        position: absolute;
        top: 100%;
        left: 20px;
        z-index: 999;
        border-left: 1px solid #c8c9ca;
        border-right: 1px solid #c8c9ca;
    }
    nav ul ul ul {
        position: absolute;
        left: 100%;
        top: 0;
        border-top: 1px solid #c8c9ca;
    }
    nav ul ul li {
        /* child li tag style */
        display: block;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #c8c9ca;
        position: relative;
        padding: 0px;
        width: 300px;
    }
    nav > ul > li:nth-child(2) > ul > li {
        width: 550px;
    }
    nav ul li:hover > ul {
        display: block !important;
    }
    nav ul li.right-side-list:hover {
        background: #145986;
    }
    nav ul li.right-side-list:hover::after {
        content: "";
        display: inline-block;
        position: absolute;
        margin-top: -5px;
        top: 50%;
        right: 15px;
        border: 5px solid transparent;
        border-right: 0px;
        border-left-color: #ffe400;
    }
    nav ul ul li a,
    nav ul ul li a:link,
    nav ul ul li a:focus,
    nav ul ul li a:active,
    nav ul ul li a:visited {
        /*  child a tag style */
        padding: 15px 30px;
        color: #000000;
        width: 100%;
    }
    nav ul ul li a:hover {
        background: #145986;
        color: #fff073;
        text-decoration: none;
    }
    nav ul li.right-side-list:hover>a {
        color: #fff073;
    }
}


/* Breadcrumb
--------------------------------------------------------------------------------------------------------------- */

.breadcrumb-block {
    border-bottom: 1px dotted #c8c6c6;
    display: none;
}

.breadcrumb-block ol.breadcrumb {
    background-color: #fff !important;
}

@media (min-width: 1024px) {
    .breadcrumb-block {
        display: block !important;
    }
}


/* Content
--------------------------------------------------------------------------------------------------------------- */

.content-wrapper {
    padding-right: 0px;
}

.content {
    width: 100%;
    float: none;
    line-height: 1.8;
    padding: 0px 25px 15px;
}

.content h3 {
    color: #2b6388;
    border-bottom: 1px solid #2b6388;
    padding-bottom: 10px;
}

.content p {
    margin: 25px 10px 0px;
}

@media (min-width: 1024px) {
    .content-wrapper {
        /* for right bar */
        padding-right: 300px;
    }
    .content {
        float: left;
    }
    .content-wrapper.other {
        /* for left bar */
        padding-right: 0px;
        margin-left: 300px;
    }
    .content.other {
        float: none;
    }
    .content-wrapper.fullpage {
        /* for left bar */
        padding-right: 0px;
        margin-left: 0px;
    }
    .content.fullpage {
        float: none;
    }
}


/* Left bar
--------------------------------------------------------------------------------------------------------------- */

.left-bar {
    width: 300px;
    display: none;
}

.left-bar ul {
    list-style: none;
    padding-left: 0px;
}

.left-bar>ul {
    margin: 23px;
    border: 1px solid #c8c9ca;
}

.left-bar .company {
    display: block;
    background-color: #2b6388;
    background: linear-gradient(#5479a1, #2b6388);
    background: -webkit-linear-gradient(#5479a1, #2b6388);
    background: -o-linear-gradient(#5479a1, #2b6388);
    background: -moz-linear-gradient(#5479a1, #2b6388);
    color: #fff;
    padding: 15px 10px 15px 35px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.left-bar .company::before {
    font-family: FontAwesome;
    content: "\f292";
    position: absolute;
    left: 12px;
    top: 15px;
}

.left-bar ul ul li a {
    padding: 15px 10px 15px 40px;
    display: block;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

.left-bar ul ul li a::before {
    content: "-";
    position: absolute;
    left: 30px;
    top: 15px;
}

.left-bar ul li a:hover {
    color: #6b6b6b;
    background-color: #f0f0f0;
    border-right: 6px solid #2b6388;
}

.left-bar ul li a.active {
    background-color: #f0f0f0;
    color: #6b6b6b;
    border-right: 6px solid #2b6388;
}

@media (min-width: 1024px) {
    .left-bar {
        display: block;
        float: left;
    }
}


/* Right bar
--------------------------------------------------------------------------------------------------------------- */

.right-bar {
    width: 100%;
    float: none;
    margin-right: -300px;
}

.right-bar ul {
    list-style: none;
    padding-left: 0px;
}

.right-bar>ul {
    margin-top: 0px;
    border: 1px solid #c8c9ca;
}

.right-bar>ul:first-child,
.right-bar>div {
    display: none;
}

.right-bar .industry,
.right-bar .products,
.right-bar .documents {
    display: block;
    background-color: #2b6388;
    background: linear-gradient(#5479a1, #2b6388);
    background: -webkit-linear-gradient(#5479a1, #2b6388);
    background: -o-linear-gradient(#5479a1, #2b6388);
    background: -moz-linear-gradient(#5479a1, #2b6388);
    color: #fff;
    padding: 15px 10px 15px 35px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.right-bar .industry::before {
    font-family: FontAwesome;
    content: "\f275";
    position: absolute;
    left: 12px;
    top: 15px;
}

.right-bar .products::before {
    font-family: FontAwesome;
    content: "\f13a";
    position: absolute;
    left: 12px;
    top: 15px;
}

.right-bar .documents::before {
    font-family: FontAwesome;
    content: "\f15c";
    position: absolute;
    left: 12px;
    top: 15px;
}

.right-bar ul li a {
    display: block;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

.right-bar>ul>li>a {
    padding: 15px 10px 15px 15px;
}

.right-bar ul ul li a {
    padding: 15px 10px 15px 33px;
    position: relative;
}

.right-bar ul ul ul li a {
    padding: 15px 10px 15px 50px;
    position: relative;
}

.right-bar ul ul li a::before {
    content: "-";
    position: absolute;
    left: 23px;
    top: 15px;
}

.right-bar ul ul ul li a::before {
    content: "|-";
    position: absolute;
    left: 36px;
    top: 14px;
}

.right-bar ul li a:hover {
    color: #6b6b6b;
    background-color: #f0f0f0;
    border-left: 6px solid #2b6388;
}

.right-bar ul li a.active {
    background-color: #f0f0f0;
    color: #6b6b6b;
    border-left: 6px solid #2b6388;
}

.right-bar form {
    padding: 25px 25px 5px 25px;
}

.right-bar select,
.right-bar button {
    display: block !important;
    width: 200px !important;
    margin: 0px auto 20px !important;
}

.right-bar>div {
    padding: 10px 40px;
}

.right-bar address {
    line-height: 1.8;
    color: #888888;
}

@media (min-width: 1024px) {
    .right-bar {
        width: 300px;
        float: right;
    }
    .right-bar>ul {
        margin: 30px 20px;
    }
    .right-bar>ul:first-child,
    .right-bar>div {
        display: block;
    }
}


/* Footer
--------------------------------------------------------------------------------------------------------------- */

footer div {
    padding: 30px;
    text-align: center;
    background: #eeeeee;
    color: #888888
}

footer .links span:not(:first-child)::before {
    content: '|';
    margin: 0px 13px;
}

footer p.owner {
    color: #ccc;
}

footer .terms,
footer .disclaimer {
    display: none;
}

@media (min-width: 460px) {
    footer .terms,
    footer .disclaimer {
        display: inline;
    }
}
