/*
File: Accuweb Layout CSS
Author: Mark Cheng (lujiang.cheng@gmail.com)
 */


/* Body
--------------------------------------------------------------------------------------------------------------- */

body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', open-sans, Arial, 'Helvetica Neue', sans-serif;
}

body>.container {
    background-color: #ffffff;
    padding: 0px !important;
}


/* Header
--------------------------------------------------------------------------------------------------------------- */

header > div:first-child{
    margin:5px 0px;
}

header .logo {
    margin: 10px 15px;
    float: left;
}

header .logo a:hover {
    text-decoration: none;
}

header img {
    width: 33px;
    height: 36px;
}

header .logo h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px;
    color: #003977;
    display: inline;
}

@media (min-width: 321px) {
    header .logo h1 {
        margin-left: 10px;
        font-size: 20px;
    }
}

@media (min-width: 430px) {
    header .logo h1 {
        font-size: 28px;
    }
    header img {
        width: 46px;
        height: 50px;
    }
    header .btn-group {
        margin-top: 0px !important;
    }
}

header .form-inline {
    float: right !important;
}

header .btn-group {
    top: 20px !important;
    right: 10px !important;
    margin-top: -10px;
}

header .dropdown-menu {
    width: 133px;
}

header .input-group {
    display: none !important;
    width: 320px !important;
    top: 20px !important;
    right: 0px !important;
}

header .input-group input::-webkit-input-placeholder {
    color: #ccc;
}

header .input-group input::-moz-placeholder {
    opacity: 0.5;
}

header .input-group input:-ms-input-placeholder {
    color: #ccc;
    transition: opacity 250ms ease-in-out;
}

@media (min-width: 768px) {
    header .input-group {
        display: inline-table !important;
    }
}


/* Navigation 
--------------------------------------------------------------------------------------------------------------- */

nav {
    background-color: #003977;
    padding: 0px;
    color: #ffffff;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 10px 0px;
}

nav ul li a,
nav ul li a:link,
nav ul li a:focus,
nav ul li a:active,
nav ul li a:visited {
    display: inline-block;
    padding: 3px;
    color: #ffffff;
}


/* Navigation - extra small screen (default view)
--------------------------------------------------------------------------------------------------------------- */

nav > ul {
    display: none;
    margin-bottom: 0px;
}

nav select {
    background: #003977 url("images/navy_dot.png") !important;
    color: #ffffff !important;
}

nav select.form-control {
    border-radius: 0px !important;
}

nav select option {
    padding: 4px;
}


/* Navigation - small and medium screen
--------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1199px) {
    nav select {
        display: none !important;
    }
    nav > ul {
        display: block;
        position: relative;
    }
    nav > ul > li {
        display: block;
    }
    nav > ul > li:not(:first-child):not(:last-child) {
        display: none;
        border-top: 1px solid #f0f0f0;
    }
    nav > ul > li > ul {
        display: none;
    }
    nav > ul > li > ul > li:not(:first-child) {
        border-top: 1px solid #f0f0f0;
    }
    nav > ul > li.menu {
        position: absolute;
        right: 15px;
        top: 3px;
        cursor: pointer;
    }
    nav > ul > li:hover > a,
    nav ul ul li a:hover {
        text-decoration: none;
    }
    nav span.glyphicon {
        padding: 5px 5px 5px 0px;
    }
}


/* Navigation - large screen
--------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1200px) {
    nav select {
        display: none !important;
    }
    nav > ul {
        display: block;
        position: relative;
    }
    nav > ul > li.menu,
    nav span.glyphicon {
        display: none !important;
    }
    nav > ul > li {
        position: relative;
        display: inline-block !important;
    }
    nav > ul > li:not(:first-child):not(:last-child) {
        display: inline-block !important;
    }
    nav > ul > li:not(:first-child)::before {
        content: '|';
        margin: 0px 13px;
    }
    nav > ul > li.drop-down-list::after {
        content: "";
        display: inline-block;
        position: relative;
        margin: 0 5px;
        top: -2px;
        border: 5px solid transparent;
        border-bottom: 0px;
        border-top-color: #ffffff;
        -moz-transition: border-top 200ms ease-in, border-bottom 200ms ease-in;
        -webkit-transition: border-top 200ms ease-in, border-bottom 200ms ease-in;
        transition: border-top 200ms ease-in, border-bottom 200ms ease-in;
    }
    nav > ul > li.drop-down-list:hover::after {
        content: "";
        display: inline-block;
        position: relative;
        margin: 0 5px;
        top: -2px;
        border: 5px solid transparent;
        border-top: 0px;
        border-bottom-color: #ffe400;
    }
    nav > ul > li > a {
        color: #ffffff !important;
    }
    nav > ul > li:hover > a {
        color: #ffe400 !important;
        text-decoration: none;
    }
    nav ul li:hover > ul {
        display: block !important;
    }
    nav ul ul {
        display: none !important;
        background: rgba(249, 249, 249, 0.95);
        padding: 0px;
        position: absolute;
        top: 100%;
        left: 20px;
        z-index: 999;
    }
    nav ul ul li {
        display: block;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #c8c9ca;
        position: relative;
        padding: 0px;
        width: 300px;
    }
    nav > ul > li:nth-child(2) > ul > li {
        width: 330px;
    }
    nav ul ul li a,
    nav ul ul li a:link,
    nav ul ul li a:focus,
    nav ul ul li a:active,
    nav ul ul li a:visited {
        padding: 15px 40px;
        color: #000000;
        width: 100%;
    }
    nav ul ul li a:hover {
        background: #c8c9ca;
        color: #ffffff;
        text-decoration: none;
    }
}


/* Footer
--------------------------------------------------------------------------------------------------------------- */

footer div {
    padding: 30px;
    text-align: center;
    background: #eeeeee;
    color: #888888
}

footer .links span:not(:first-child)::before {
    content: '|';
    margin: 0px 13px;
}

footer p.owner {
    color: #ccc;
}

footer .terms,
footer .disclaimer {
    display: none;
}

@media (min-width: 460px) {
    footer .terms,
    footer .disclaimer {
        display: inline;
    }
}
